/* @import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
* { box-sizing: border-box; }
html {
	height: 100%;
}

body {
  height: 100%;
  color: #C0AABE;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
}
#map { 
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-row-start: 1;
	height: 100%;
} */
/* html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

 html,body{
  height: 100%;
  width: 100%;
 }
 #container {
  height: 100%;
  width: 100%;
 }
 #map {
  height: 100%;
  width: 100%;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  z-index: 1;
  width: 30%;
  position: absolute;
  left: 50%;
  bottom: 85%;
  transform: translate(-50%, -50%);
}
#suggestions {
  top: 10%;
  z-index: 1;
  z-index: 1;
  width: 30%;
  position: absolute;
  left: 50%;
  bottom: 84%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  height:400px; 
  margin-top: 210px;
  overflow-y: scroll;
}
#suggestions > li {
  display: block;
  width: 400px;
  margin-right: 150px;
  height: 20px;
} 
#suggestions::-webkit-scrollbar{
  display: none;
}
#suggestions > li:hover {
  background-color: wheat;
}


